POSTGRES_PASSWORD=changeme
GF_ADMIN_PASSWORD=changeme
WEBHOOK_URL=https://hooks.slack.com/services/xxx
GRAFANA_BIND=127.0.0.1
TEST_DURATION_SECONDS=600
HOST_DATA_DIR=/data
TEST_DATA_DIR=/data/test_data
